.venv
__pycache__

dataset*
data
generated
best_models
explore_latent
interative

settings.py

main_params.json
training_params.json
image_params.json
video_params.json
create_video_from_folder.json

*.png
*.jpg
*.mp4
*.avi